@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

:root {
  --primary-white: #fff;
  --primary-blue: #66c6ff;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Nunito", sans-serif;
}

/************************* NAV BAR ****************************/

.logo {
  height: 6.25rem;
}

/************************* MENU ****************************/

nav a.nav-link {
  font-weight: 350;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1675rem solid var(--primary-dark);
}

.navbar-brand {
  max-height: 6.25rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-bottom: 0.1675rem solid var(--primary-blue);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1675rem solid var(--primary-blue);
}
